<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="blightblue">
                            <div class="pull-left"><i class="fa fa-plane"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-envelope"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">{{vm.messageCount}}</span> Messages
                            </div>
                            <div class="clearfix"></div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div ht-widget-header title="Agregar Producto"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <form>
                                <div class="form-group">
                                    <label for="nombre">Nombre :</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="nombre de producto" ng-model='vm.product.name'>
                                </div>
                                <div class="form-group">
                                    <label for="stock">Stock :</label>
                                    <input type="text" class="form-control" id="stock" placeholder="stock" ng-model='vm.product.stock'>
                                </div>
                                <div class="form-group">
                                    <label for="costo">Costo :</label>
                                    <input type="text" class="form-control" id="costo" placeholder="costo" ng-model='vm.product.cost'>
                                </div>
                                <div class="form-group">
                                    <input class="btn" type="button" ng-click="vm.createProduct()" value="Agregar">
                                </div>      
                            </form>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div ht-widget-header title="Productos"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-hover ">
                                <thead>
                                <tr>
                                    <td><strong>producto</strong></td>
                                    <td><strong>costo</strong></td>
                                    <td><strong>stock</strong></td>
                                </tr>
                                </thead>
                                <tbody ng-repeat="product in vm.listproducts">
                                <tr ng-model="product.selected">
                                    <td>{{product.name}}</td>
                                    <td>{{product.cost | currency}}</td>
                                    <td>{{product.stock}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>