<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <!-- =========================== -->
    <!-- =========JAXB / CXF ========= -->
    <!-- =========================== -->

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider" />

    <bean id='jacksonProvider' class='com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider' />
    <!--<bean id='jacksonProvider' class='org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider' />-->


    <!-- =========================== -->
    <!-- =========Servicios  ========= -->
    <!-- =========================== -->

    <jaxrs:server id="user"  >
        <jaxrs:serviceBeans>
            <ref bean="userRest" />
            <ref bean="routeRest" />
            <ref bean="rideRest" />
            <ref bean="gamingRest"/>
            <ref bean="productRest"/>
            <ref bean="post"/>
            <ref bean="chat"/>
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
        </jaxrs:extensionMappings>
        <jaxrs:providers>
            <ref bean="jacksonProvider" />
        </jaxrs:providers>
        <jaxrs:features>
            <cxf:logging />
        </jaxrs:features>
    </jaxrs:server>

    <bean id="userRest" class="domain.servicesRest.UserServiceRest">
        <constructor-arg>
            <ref bean="services.user" />
        </constructor-arg>
    </bean>

    <bean id="productRest" class="domain.servicesRest.ProductServiceRest">
        <constructor-arg>
            <ref bean="services.product" />
        </constructor-arg>
    </bean>

    <bean id="gamingRest" class="domain.servicesRest.GamingServiceRest">
        <constructor-arg>
            <ref bean="services.gaming" />
        </constructor-arg>
    </bean>

    <bean id="routeRest" class="domain.servicesRest.RouteServiceRest">
        <constructor-arg>
            <ref bean="services.route" />
        </constructor-arg>
    </bean>

    <bean id="rideRest" class="domain.servicesRest.RideServiceRest">
        <constructor-arg>
            <ref bean="services.ride" />
        </constructor-arg>
        <constructor-arg>
            <ref bean="services.user" />
        </constructor-arg>
        <constructor-arg>
            <ref bean="services.route" />
        </constructor-arg>

    </bean>

    <bean id="post" class="domain.servicesRest.PostServiceRest">
        <constructor-arg>
            <ref bean="services.post" />
        </constructor-arg>
    </bean>

    <bean id="chat" class="domain.servicesRest.ChatServiceRest">
        <constructor-arg>
            <ref bean="services.chat" />
        </constructor-arg>
    </bean>

    <bean id="setup.exampleData" class="domain.servicesRest.SetupExampleData" init-method="init">
        <constructor-arg>
            <ref bean="services.user" />
        </constructor-arg>
        <constructor-arg>
            <ref bean="services.ride" />
        </constructor-arg>
        <constructor-arg>
            <ref bean="services.post" />
        </constructor-arg>
    </bean>

    <!--<bean id="rideRest" class="domain.servicesRest.RideServiceRest">-->
        <!--<constructor-arg>-->
            <!--<ref bean="services.ride" />-->
        <!--</constructor-arg>-->
    <!--</bean>-->


</beans>