<div class = "col-md-12 header-right">
  <div class="head-colum3">

  	<!--ACA EMPIEZA MAP DEL ADD ROUTE-->
    <div class = "col-md-6 ">
        <div id='mapAddRoute'></div>
    </div>
  	<!--ACA TERMINA MAP DEL ADD ROUTE-->

        <!--ACA EMPIEZA EL ADD ROUTE-->
    <div class="col-md-6 ">
      <div class="content-cal1">
        <form>
          <fieldset>
            <div class="form-group">
              <label for="fixedCosts">{{ 'fixed_costs' | translate }}:</label>
              <input type="text" ng-model="addrf.fixedCosts" class="form-control" id="fixedCosts" placeholder="10.0" />
            </div>

          </fieldset>
        </form>

        <form class='form-inline'>
          <fieldset>
            <legend>{{'add_schedule'|translate}}</legend>

            <div class="form-group">
              <select ng-model="addrf.scheduleDay" class="form-control col-xs-2" id="scheduleDay">
                <option value="0" >{{'monday' | translate }}</option>
                <option value="1">{{'tuesday' | translate }}</option>
                <option value="2">{{'wednesday' | translate }}</option>
                <option value="3">{{'thursday' | translate }}</option>
                <option value="4">{{'friday' | translate }}</option>
                <option value="5">{{'saturday' | translate }}</option>
                <option value="6">{{'sunday' | translate }}</option>
              </select>
            </div>

            <div class="form-group">
              <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                    <div class="input-group">
                      <input data-date-time-input="H:mm" type="text" class="form-control" data-ng-model="addrf.scheduleDepartureTime"/>
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="addrf.scheduleDepartureTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', modelType: 'moment', startView: 'hour' }" ></datetimepicker>
                  </ul>
              </div>
            </div>
            <button id='add_schedule_btn' class="btn" type="button" ng-click="addrf.addSchedule()">{{'add_schedule_btn'|translate}}</button>
          </fieldset>
        </form>

        <form>
          <fieldset>
            <legend>{{'schedules'|translate}}</legend>
            <ul class='list-group' >
              <li class='list-group-item' ng-repeat='sch in addrf.schedules'>
                <span>{{ sch.dayStr }}s</span><span class='pull-right'>{{sch.departureTime.format('H:mm')}}</span>
              </li>
            </ul>
          </fieldset>

      </div>
      <input class="btn" type="button" value="{{'agregar ruta' | translate}}" ng-click="addrf.addRoute()">
    </div>

    <!--ACA TERMINA EL ADD ROUTE-->

  </div>
</div>