<div class = "col-md-12 header-right">
	<div class = "col-md-3 ">
      <div class = "content-cal1">
          <div class="avari-info">
            <h2>{{'chats' | translate}}</h2>
          </div>
          <div class="list-group" dir-paginate="chat in ct.chats | itemsPerPage: 6">
           <a href="" value ='chat' class="list-group-item" ng-model="chat.selected">
             {{chat.name}} 
           </a>
        </div>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
      </div>
    </div>

	<div class = "col-md-9 ">
      <div class = "content-cal1">

      <div class="avari-info">
            <h2>{{ct.chatSelected.name}}</h2>
      </div>
      <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                  <ul class="chat">
                  </ul>
                </div>
      </div>
      <div class="panel-footer">
          <div class="input-group">
              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
              <span class="input-group-btn">
                  <button class="btn btn-warning btn-sm" id="btn-chat">
                  Send</button>
              </span>
        </div>
      </div>
    </div>
</div>