<div class = "">
    <div class="container">
    <div class="header">
          <div class="navbar navbar-default" role="navigation">
          <div class="container">
              <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/home">{{user.name}}</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/home">Home</a></li>
              <li class="active"><a href="#/">Buscar Recorrido</a></li>
              <li><a ng-href="#/about">Viajes</a></li>
              <li><a ng-href="#/">Recorridos</a></li>
              <li><a ng-href="#/">Mi Cuenta</a></li>
              <li><a ng-href="#/">WebShop</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>