<!---->
<div class="header-main">
  <!--header right start here-->
  <div class="col-md-12 header-right">
    <div class="header-right-blc1">

      <!-- Info de usuario  -->
      <div class="col-md-3 joker-rows">
        <div class="mask-img">
          <div class="bridge-city">
            <img class="img-circle" src="{{user.image}}" alt="">
          </div>
          <div class="avari-info">
            <h2>{{user.name}}</h2>
          </div>
          <div class="joker-block">
            <div class="col-md-4 views">
              <div class="joker-text">
                <p>
                  GoodRateCount
                </p>
                <h4>{{user.goodRateCount}}</h4>
              </div>
              <div class="joker-bg-img">
              </div>
              <div class="clearfix">
              </div>
            </div>
            <div class="col-md-4 views viewlines">
              <div class="joker-text">
                <p>
                  BadRateCount
                </p>
                <h4>{{user.badRateCount}}</h4>
              </div>
              <div class="joker-bg-img-user">
              </div>
              <div class="clearfix">
              </div>
            </div>
            <div class="col-md-4 views">
              <div class="joker-text">
                <p>
                  TotalRateCount
                </p>
                <h4>{{user.totalRateCount}}</h4>
              </div>
              <div class="joker-bg-img-comm">
              </div>
              <div class="clearfix">
              </div>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <!-- fin de Info de usuario -->
      <!-- inicio de proximos viajes-->
      <div class="col-md-6 skills-rows">
      <div class = "content-cal1">
      <table class="table table-hover ">
      <div class="avari-info">
            <h2>Proximos Viajes</h2>
      </div>
      <thead>
      <tr>
        <td><strong>Dia</strong></td>
        <td><strong>Hora</strong></td>
        <td><strong>Origen</strong></td>
        <td><strong>Destino</strong></td>
        <td><strong>Intencion</strong></td>
        <td><strong>Costo</strong></td>
      </tr>
      </thead>
      <tbody ng-repeat="route in user.routes">
      <tr ng-model="route.selected">
        <td>Lunes</td>
        <td>9:30</td>
        <td>Ranelagh</td>
        <td>Capital</td>
        <td>Trabajo</td>
        <td>${{route.fixedCosts}}</td>
      </tr>
      </tbody>
      </table>
      </div>
      </div>
      <!-- fin de proximos viajes-->
      <!-- inicio de Comentarios-->
      <div class="col-md-3 skills-rows">
      <div class = "content-cal1">
      <div class="avari-info nav">
            <h2>Comentarios</h2>
      </div>
          <ul id="comments-list" class="comments-list">
      <li>
        <div class="comment-main-level">
          <!-- Avatar -->
          <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
          <!-- Contenedor del Comentario -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortizas</a></h6>
              <span>hace 20 minutos</span>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              Me encanta como manejas!,tenemos que salir a correr picadas, conozco un flaco que te puede preparar el auto, te lo deja 10 puntos.
            </div>
          </div>
        </div>

          <li>
            <!-- Avatar -->
            <div class="comment-avatar"><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/074/165/2458a49.jpg" alt=""></div>
            <!-- Contenedor del Comentario -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Federico Lochbaum</a></h6>
                <span>hace 10 minutos</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                Sos un grande maestro, tus mates son los mejores, aunque me habria gustado que manejes mas tranqui.
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
      <!-- fin de Comentarios-->
    </div>
  </div>

</div>