<!---->
<div class="header-main">
  <!--header right start here-->
  <div class="col-md-12 header-right">
    <div class="header-right-blc1">


      <!-- Info de usuario  -->
      <div class="col-md-3 joker-rows">
        <div class="mask-img">
          <div class="bridge-city">
            <img class="img-circle" src="{{user.image}}" alt="">
          </div>
          <div class="avari-info">
            <h2>{{user.name}}</h2>
          </div>
          <div class="joker-block">
            <div class="col-md-4 views">
              <div class="joker-text">
                <p>
                  GoodRateCount
                </p>
                <h4>{{user.goodRateCount}}</h4>
              </div>
              <div class="joker-bg-img">
              </div>
              <div class="clearfix">
              </div>
            </div>
            <div class="col-md-4 views viewlines">
              <div class="joker-text">
                <p>
                  BadRateCount
                </p>
                <h4>{{user.badRateCount}}</h4>
              </div>
              <div class="joker-bg-img-user">
              </div>
              <div class="clearfix">
              </div>
            </div>
            <div class="col-md-4 views">
              <div class="joker-text">
                <p>
                  TotalRateCount
                </p>
                <h4>{{user.totalRateCount}}</h4>
              </div>
              <div class="joker-bg-img-comm">
              </div>
              <div class="clearfix">
              </div>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <!-- fin de Info de usuario -->



    </div>
  </div>

</div>