<div class = "col-md-12 header-right">
	<div class = "col-md-3 ">
      <div class = "content-cal1">
      	<form>
          <div class="form-group">
            <label for="mes">Mes:</label>
            <input type="text"  class="form-control" id="mes" placeholder="mes">
          </div>
          <div class="form-group">
            <label for="anio">Año:</label>
            <input type="text" class="form-control" id="anio" placeholder="año">
          </div>
          <div class="btn-group form-group btn-group-sm" role="group" aria-label="">
  			<button type="button" class="btn ">Conductores</button>
  			<button type="button" class="btn ">Pasajeros</button>
  			<button type="button" class="btn ">Vehiculos</button>
		  </div>
          <div class="form-group ">
            <input class="btn" type="button" value="Buscar" id="" ng-click="rnk.getRanking()">
          </div>
        </form>
      </div>
    </div>
	<div class = "col-md-9 ">
      <div class = "content-cal1">
      	<table class="table table-hover ">
      <div class="avari-info">
            <h2>Ranking</h2>
      </div>
      <thead>
      <tr>
        <td><strong>Usuario</strong></td>
        <td><strong>Puntos</strong></td>
        <td><strong>Votos buenos</strong></td>
        <td><strong>Votos malos</strong></td>
      </tr>
      </thead>
      <tbody ng-repeat="user in rnk.ranking.bestDrivers">
      <tr ng-model="user.selected">
        <td>{{user.name}}</td>
        <td>{{user.points}}</td>
        <td>{{user.goodRateCount}}</td>
        <td>{{user.badRateCount}}</td>
      </tr>
      </tbody>
      </table>
      </div>
    </div>
</div>