<div class = "col-md-12 header-right">
	<div class = "col-md-3 ">
      <div class = "content-cal1">
      	<form>
          <div class="form-group">
            <label for="mes">{{'mes' | translate}}:</label>
            <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                      <div class="input-group"><input type="text" class="form-control" data-ng-model="rnk.monthSelected"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker data-ng-model="rnk.monthSelected" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', modelType: 'moment',minView:'month', startView: 'month'}" />
                    </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="anio">{{'año' | translate}}:</label>
            <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                      <div class="input-group"><input type="text" class="form-control" data-ng-model="rnk.yearSelected"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker data-ng-model="rnk.yearSelected" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', modelType: 'moment',minView:'year', startView: 'year'}" />
                    </ul>
            </div>
          </div>
          <div class="btn-group form-group btn-group-sm" role="group" aria-label="">
  			<button type="button" class="btn " ng-click="rnk.getDrivers()">{{'conductores' | translate}}</button>
  			<button type="button" class="btn " ng-click="rnk.getPassengers()">{{'pasajeros' | translate}}</button>
  			<button type="button" class="btn " ng-click="rnk.getvehicles()">{{'vehiculos' | translate}}</button>
		  </div>
          <div class="form-group ">
            <input class="btn" type="button" value="{{'buscar' | translate}}" id="" ng-click="rnk.getRankingForDate()">
          </div>
        </form>
      </div>
    </div>
	<div class = "col-md-9 ">
      <div class = "content-cal1">
      	<table class="table table-hover ">
      <div class="avari-info">
            <h2>{{'ranking' | translate}}</h2>
      </div>
      <thead>
      <tr>
        <td><strong>{{'usuario' | translate}}</strong></td>
        <td><strong>{{'puntos' | translate}}</strong></td>
        <td><strong>{{'votos buenos' | translate}}</strong></td>
        <td><strong>{{'votos malos' | translate}}</strong></td>
      </tr>
      </thead>
      <tbody dir-paginate="user in rnk.rankingSelected | itemsPerPage: 8">
      <tr ng-model="user.selected">
        <td>{{user.name}}</td>
        <td>{{user.points}}</td>
        <td>{{user.goodRateCount}}</td>
        <td>{{user.badRateCount}}</td>
      </tr>
      </tbody>
      </table>
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
      </div>
    </div>
</div>