<div class = "col-md-12 header-right">
  <flash-message>
    <div class="my-flash">{{ flash.text }}</div>
  </flash-message>
    <div class="head-colum3">
        <div class="col-md-3 list-group">
        	<a href="" ng-repeat="r in rrc.rateablesRides" class='list-group-item' title='Recorridos Transcurridos' ng-click="rrc.getRateablesFromRide(r.id)">
              <div class="row">
                <div class="section-box">
                  <div class="col-xs-3 col-md-3 text-center">                      
                    <img style='max-width:70% ; max-height:70%' ng-src='{{r.driver.image}}'/>
                  </div>
                  <h4>
                    {{ r.diver.name }} {{ r.driver.lastName}} ({{ r.driver.userName }})
                  </h4>
                  <h4>
                    {{r.date | date}}
                  </h4>
                </div>
              </div>
            </a>
        </div>
      </div>
    <div class="col-md-5 list-group" ng-show='rrc.rideSelected != null' >
      <div class="content-cal1 btn" ng-click="rrc.selectDriver()">
        <p> Conductor : {{rrc.rideSelected.driver.name}}<p> 
      </div>
      <div class="content-cal1 btn" ng-click="rrc.selectVehicle()">
        <p> Vehiculo <p>
      </div>
        <a href="" ng-repeat="tk in rrc.rideSelected.takenSeats" class='list-group-item' title='Votar Compañero' ng-click="rrc.selectUser(tk.passenger)">
              <div class="row">
                <div class="section-box">
                  <div class="col-xs-3 col-md-3 text-center">                      
                    <img style='max-width:70% ; max-height:70%' ng-src=''/>
                  </div>
                  <h4>
                    {{ tk.passenger.name }} {{ tk.passenger.lastName}} ({{ tk.passenger.userName }})
                  </h4>
                </div>
              </div>
            </a>
          </div>

    <div class="col-md-4" ng-show='rrc.userSelected != null'>
      <div class="content-cal1">
          {{rrc.title}}
        <div class="btn-group btn-group-lg form-group" role="group" aria-label="">
            <button type="button" class="btn btn-default glyphicon glyphicon-thumbs-up" ng-click="rrc.goodRate()"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-thumbs-down" ng-click="rrc.badRate()"></button>
        </div>
        <form>
          <div class="form-group">
            <label for="Comentario">Comentario:</label>
            <input type="text" class="form-control" id="comentario" ng-model='rrc.comment'>
          </div>
          <div class="form-group">
            <input class="btn" type="button" ng-click="rrc.rate()" value="{{'Ratear' | translate}}">
          </div>
        </form>
      </div>
    </div>


</div>