  <!---->
  <!--ACA EMPIEZA EL CODIGO DEL FIND-->
  <!--<div class="header-main">-->
  <div class = "col-md-12 header-right">
    <div class="head-colum3">

          <!--ACA EMPIEZA EL FORMULARIO-->
          <div class="col-md-3">
            <div class="content-cal1">
              <form>
                <div class="form-group">
                  <label for="subeEn">Sube en:</label>
                  <input type="text" class="form-control" id="subeEn" placeholder="Un lugar" ng-model='rf.selDeparturePoint'>
                </div>
                <div class="form-group">
                  <label for="bajaEn">Baja en:</label>
                  <input type="text" class="form-control" id="bajaEn" placeholder="Un lugar" ng-model='rf.selArrivalPoint'>
                </div>
                <div class="form-group">
                  <label for="bajaEn">Fecha y hora:</label>
                  <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="javascript::return;">
                      <div class="input-group"><input type="text" class="form-control" data-ng-model="rf.selDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker data-ng-model="rf.selDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <input class="btn" type="button" ng-click="rf.getRideProposals()" value="Buscar">
                </div>
              </form>
            </div>
          </div>
          <!--ACA TERMINAR EL FORMULARIO-->
          <!--ACA EMPIEZA EL MAP-->
          <div class = "col-md-6">
              <img class = "col-md-12" src="http://www.portalprogramas.com/milbits/imagenes/Title419.jpg">
          </div>
          <!--ACA TERMINAR EL MAP-->
          <!--ACA EMPIEZA LA LISTA DE RESULTADOS-->
          <div class = "col-md-3"> 

            <div class="row"> <!--div class="row" ng-repeat="rf.rideProposals as rideProposal" -->
              <div class="col-md-12">
                <a href="javascript:" title='Seleccionar recorrido' style='display:block' ng-click="selectRideProposal($index)">
                <div class="well well-sm">
                  <div class="row">
                    <!-- <div class="col-xs-3 col-md-3 text-center">
                      <img src="" /> <! -- FOTITO DEL FLACO -- >
                    </div> -->
                    <div class="col-xs-12 col-md-12 section-box"  style='font-size: 12px'>
                      <h4>Propuesta ejemplo</h4>
                      <p>Algo sobre el recorrido. <br>Al hacer click tiene que mostrarlo en el mapa y quedar seleccionado para enviar la solicitud </p>
                      <ul class="list list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i>{{'10:35'}}</span></li>
                          <!-- <li><span><i class="glyphicon glyphicon-comment"></i> 2 comments</span></li> -->
                          <li>
                             <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                          </li>
                      </ul>                 
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>


            <button class='btn' onclick="rf.requestRide()"'">Solicitar unirse</button>
          </div>
<!-- 

          <div class="col-md-3 skills-rows">
            <div class = "content-cal1">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">14</span>
                    Jorgito
                  </li>
                </ul>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">14</span>
                    Fede
                  </li>
                </ul>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">14</span>
                    Dan
                  </li>
                </ul>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">14</span>
                    Sarasa
                  </li>
                </ul>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">14</span>
                    Leo
                  </li>
                </ul>
            </div>
          </div> -->
          <!--ACA TERMINA LA LISTA DE RESULTADOS-->
     </div>
  </div>
</div>
</div>
<!--ACA TERMINA EL CODIGO DEL FIND-->
