<div class = "col-md-12 header-right">
	<div class = "col-md-3 ">
      <div class = "content-cal1">
      	<form>
          <div class="avari-info">
            <h2>{{'filtro' | translate}}</h2>
          </div>
          <div class="form-group">
            <label for="nombre">{{'nombre' | translate}}:</label>
            <input type="text"  class="form-control" ng-model="ws.search" placeholder="{{'nombre' | translate}}">
          </div>
        </form>
      </div>
    </div>
	<div class = "col-md-9 ">
      <div class = "content-cal1">
      	<table class="table table-hover ">
      <div class="avari-info">
            <h2>{{'productos' | translate}}</h2>
      </div>
      <div>
        <h4>{{'mis puntos' | translate}}: {{ws.user.points}}</h4>
      </div>
      <thead>
      <tr>
        <td><strong>{{'producto' | translate}}</strong></td>
        <td><strong>{{'costo' | translate}}</strong></td>
        <td><strong>{{'stock' | translate}}</strong></td>
      </tr>
      </thead>
      <tbody dir-paginate="product in ws.products | filter:ws.search | itemsPerPage: 6">
      <tr ng-model="product.selected">
        <td>{{product.name}}</td>
        <td>{{product.cost | currency}}</td>
        <td>{{product.stock | number}}</td>
        <td><button type="button" class = "btn btn-primary     glyphicon glyphicon-ok-sign"></button></td>
      </tr>
      </tbody>
      </table>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
      </div>
    </div>
</div>