<div class='row'>

  <flash-message>
    <div class="my-flash">{{ flash.text }}</div>
  </flash-message>

  <div class="col-md-3 col-sm-3 col-xs-12">
   <div class="x_panel">
    <div class="x_title">
      <h2>{{'chats' | translate}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="form-group">
        <label for="nombre">{{'nombre' | translate}}:</label>
        <input type="text"  class="form-control" ng-model="ct.search" placeholder="{{'nombre' | translate}}">
      </div>
      <div class="list-group" dir-paginate="user in ct.users | filter:ct.search | itemsPerPage: 6">
           <a href="" value ='user' ng-click="ct.getChatByUser(user.id)" class="list-group-item" ">
             {{user.name}} 
           </a>
          </div>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
      
    </div>
   </div> 
  </div>

  <div class="col-md-9 col-sm-9 col-xs-12">
   <div class="x_panel">
    <div class="x_title">
      <h2>{{ct.chatSelected.name}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content" >

    <div style="overflow-y: auto; height: 200px;" class="nested ng-isolate-scope" snapscroll="" snap-index="nestedSnapIndex" ng-swipe-up="swipeUp($event)" ng-swipe-down="swipeDown($event)">
      <div class="list-group" ng-repeat="message in ct.chatSelected.messages" >
        <p value ='message' class="list-group-item" ">
          <span>{{message.sender.name}} : {{message.content}}</span>
          <span class="pull-right">{{message.timestamp.millis | date:'EEE  H:mm'}}</span>
        </p>
      </div>
    </div>
      <div class="panel-collapse collapse" id="collapseOne">
        <div class="panel-body">
          <ul class="chat">
          </ul>
        </div>
      </div>
      <div class="panel-footer" >
        <div class="input-group">
          <input id="btn-input" type="text" ng-model="ct.text" class="form-control input-sm" placeholder="" />
          <span class="input-group-btn">
            <button class="btn btn-success btn-sm" id="btn-chat" ng-click="ct.sendMessage()">
            Send</button>
         </span>
        </div>
      </div>
      
    </div>
   </div> 
  </div>




</div>