<div class='row'>

  <flash-message>
    <div class="my-flash">{{ flash.text }}</div>
  </flash-message>

  <div class="col-md-3 col-sm-3 col-xs-12">
   <div class="x_panel">
    <div class="x_content">
      <div class="form-group">
        <a href="" ng-repeat="r in rrc.rateablesRides" class='list-group-item' title='Recorridos Transcurridos' ng-click="rrc.getRateablesFromRide(r.id)">
          <div class="row">
            <div class="section-box ">
              <div class="col-xs-3 col-md-3 text-center">                      
                <img style='max-width:70% ; max-height:70%' ng-src='{{r.driver.image}}'/>
              </div>
                <p class="list-group-item-text" >
                  <ul class="list list-unstyled">
                    <li>
                      {{ r.diver.name }} {{ r.driver.lastName}} ({{ r.driver.userName }})
                    </li>
                    <li>
                      {{r.date | date}}
                    </li>
                  </ul>
                </p>
            </div>
          </div>
        </a> 
      </div> 
    </div>
   </div> 
  </div>

  <div class="col-md-5 col-sm-5 col-xs-12 list-group" ng-show='rrc.rideSelected != null'>
   <div class="x_panel">
    <div class="x_content">
      <div class="content-cal1 btn" ng-click="rrc.selectDriver()">
        <p> {{'conductor' | translate}} : {{rrc.rideSelected.driver.name}}<p> 
      </div>
      <div class="content-cal1 btn" ng-click="rrc.selectVehicle()">
        <p> {{'vehiculo' | translate}} <p>
      </div>
        <a href="" ng-repeat="tk in rrc.rideSelected.takenSeats" class='list-group-item' title='Votar Compañero' ng-click="rrc.selectUser(tk.passenger)">
          <div class="row">
            <div class="section-box">
              <div class="col-xs-3 col-md-3 text-center">                      
                <img class="img-circle"style='max-width:70% ; max-height:70%' ng-src='{{tk.passenger.image}}'/>
              </div>
              <h4>
                {{ tk.passenger.name }} {{ tk.passenger.lastName}} ({{ tk.passenger.userName }})
              </h4>
            </div>
          </div>
        </a>  
    </div>
   </div> 
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 list-group" ng-show='rrc.userSelected != null'>
   <div class="x_panel">
    <div class="x_title">
      <h2>{{rrc.title}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="btn-group btn-group-lg form-group" role="group" aria-label="">
            <button type="button" class="btn btn-default glyphicon glyphicon-thumbs-up" ng-click="rrc.goodRate()"></button>
            <button type="button" class="btn btn-default glyphicon glyphicon-thumbs-down" ng-click="rrc.badRate()"></button>
        </div>
        <form>
          <div class="form-group">
            <label for="Comentario">Comentario:</label>
            <input type="text" class="form-control" id="comentario" ng-model='rrc.comment'>
          </div>
          <div class="form-group">
            <input class="btn" type="button" ng-click="rrc.rate()" value="{{'Ratear' | translate}}">
          </div>
        </form>
    </div>
   </div> 
  </div>




</div>