<div class='row'>

  <flash-message>
    <div class="my-flash">{{ flash.text }}</div>
  </flash-message>
  <div class="col-md-3 col-sm-3 col-xs-12">
   <div class="x_panel">
    <form>
    <div class="x_title">
      <h2>{{'filtro' | translate}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="form-group">
            <label for="nombre">{{'nombre' | translate}}:</label>
            <input type="text"  class="form-control" ng-model="ws.search" placeholder="{{'nombre' | translate}}">
          </div>
    </div>
    </form>
   </div> 
  </div>

  <div class="col-md-9 col-sm-9 col-xs-12">
   <div class="x_panel">
    
    <div class="x_title">
      <h2>{{'productos' | translate}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_title">
      <h4>{{'mis puntos' | translate}}: {{ws.user.points}}</h4>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <table class="table">
      <thead>
      <tr>
        <td><strong>{{'producto' | translate}}</strong></td>
        <td><strong>{{'costo' | translate}}</strong></td>
        <td><strong>{{'stock' | translate}}</strong></td>
      </tr>
      </thead>
      <tbody dir-paginate="product in ws.products | filter:ws.search | itemsPerPage: 6">
      <tr ng-model="product.selected">
        <td>{{product.name}}</td>
        <td>{{product.cost | currency}}</td>
        <td>{{product.stock | number}}</td>
        <td><button type="button" ng-click="ws.changeProduct(product)" class ="btn btn-success glyphicon glyphicon-ok-sign"></button></td>
      </tr>
      </tbody>
      </table>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
    </table>
   </div> 
  </div>




</div>